a {
  color: #FFF;
}

a:hover {
  opacity: 0.7;
  color: #FFF;
}

.container {
  padding-top: 45px;
  text-align: center;
}

.carousel-inner{
  max-height:450px;
}

.item-tab {
  margin: 0 0 0 20px;
}

.react-tabs__tab {
  display: block;
  float: left
}


.pagination .page-item.active .page-link {
  background-color: #90a4ae !important;
}
